@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.ck.ck-content {
  border-bottom: 1px solid #e879f9!important;
  border-left: 1px solid #e879f9!important;
  border-right: 1px solid #e879f9!important;
  border-radius: 0 0 0.75rem 0.75rem!important;
  min-height: 300px;
}

.ck.ck-content.ck-focused {
  box-shadow: none!important;
  border-top: 1px solid rgb(204, 206, 209)!important;
}

.ck.ck-toolbar {
  border-top: 1px solid #e879f9!important;
  border-left: 1px solid #e879f9!important;
  border-right: 1px solid #e879f9!important;
  border-radius: 0.75rem 0.75rem 0 0!important;
}

@keyframes grow {
  from {
    transform: scaleY(1);
    background-color: #e879f9;
  }  
  50% {
    transform: scaleY(4);
    background-color: #86198f;
  }
  to {
    transform: scaleY(1);
    background-color: #e879f9;
  }
}

.loader {
  width: 1rem;
  height: 0.5rem;
  background-color: #e879f9;
  margin: 0.2rem;

  animation-duration: 1.9s;
  animation-name: grow;
  animation-iteration-count: infinite;
}